div {
   margin: 4px;
}

.on {
   display: inline-block;
   vertical-align: middle;
   text-align: center;
   width: 40px;
   height: 30px;
   background: radial-gradient(92.09% 85.42% at 86.3% 87.5%,
         rgba(0, 0, 0, 0.23) 0%,
         rgba(0, 0, 0, 0) 86.18%),
      radial-gradient(65.28% 65.28% at 26.39% 20.83%,
         rgba(255, 255, 255, 0.413) 0%,
         rgba(255, 255, 255, 0) 69.79%,
         rgba(255, 255, 255, 0) 100%),
      #38C558;
   box-shadow: 4px 38px 62px rgba(0, 0, 0, 0.5);
   border-radius: 6px;
   color: #ffffff;
   cursor: pointer;
}

.off {
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   width: 40px;
   height: 30px;
   background: radial-gradient(92.09% 85.42% at 86.3% 87.5%,
      rgba(0, 0, 0, 0.23) 0%,
      rgba(0, 0, 0, 0) 86.18%),
   radial-gradient(65.28% 65.28% at 26.39% 20.83%,
      rgba(255, 255, 255, 0.413) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%),
   #EC0E52;
   box-shadow: 4px 38px 62px rgba(0, 0, 0, 0.5);
   border-radius: 6px;
   color: #ffffff;
   cursor: pointer;
}

.indicator {
   width: 10px;
   height: 10px;
   border: 1px solid black;
   border-radius: 5px;
   display: inline-block;
}
