.default {
  width: 100%;
  height: 53px;
  padding: 15px 60px;
  color: #F2F2F2;
  background: #006162;
  border-radius: 8px;
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}